
@{
    /**/

    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Event</h2>

@using (Html.BeginForm("SubmitCreateEvent", "Calendar", FormMethod.Post))
{
    <label>Name: </label>
    <input ID="name" type="text" name="name" />
    <br />

    <label>Date: </label>
    <input ID="date" value="@ViewBag.Date" type="text" class="date-picker" name="date" />
    <br />

    <label>Time: </label>
    <input ID="time" type="text" class="time-picker" name="time" />
    <br />

    <label>Duration(Hours): </label>
    <input ID="duration" type="text" name="duration" />
    <br />

    <input type="submit" class="btn btn-primary" />
}

@{
    if (ViewBag.Error != null && ViewBag.Error != "")
    {
        <h2 style="color:red">@ViewBag.Error</h2>
    }
}