
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome to the Homework Helper Calendar!</h2>

<br />
<br />

<p>This is a program to help you manage and organize your time each day so that you don't get behind on any of your projects, exams, or homework.</p>
<p>I hope this helps out your grades, and thank you for using Homework Helper Calendar!</p>

<br />
<br />

<p>This is a project made by Nick Galecki using C#,asp.net MVC,jquery, and Azure hosting</p>
<p>Contact me here with any feedback: ngalecki@purdue.edu</p>