
@{
    ViewBag.Title = "DefaultPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Calendar</h2>

@using (Html.BeginForm("CreateEvent", "Calendar", FormMethod.Post))
{
    <input id="datebox" type="text" name="datebox" class="date-picker" />
    <br />
    <input type="submit" value="Create New Event" id="btnCreate" runat="server" title="Create New Event" class="btn btn-default" />
}

@{ 
    if (ViewBag.Error != null)
    {
        <p>@ViewBag.Error</p>
        }
}